.o_hierarchy_view {
    .o_coa_hierarchy_type_card,
    .o_coa_hierarchy_account_card {
        min-width: 230px;
    }

    .o_coa_hierarchy_type_card {
        padding: 0.75rem;
        text-align: center;
    }

    .o_coa_hierarchy_type_title {
        font-size: 1rem;
        font-weight: 600;
    }

    .o_coa_hierarchy_account_card {
        padding: 0.75rem;
    }

    .o_coa_hierarchy_account_name {
        line-height: 1.2;
    }
}
.o_coa_hierarchy_account_code {
    max-width: 115px;
    min-width: 0;
    overflow: hidden;
    vertical-align: middle;

    .o_field_widget {
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}